# Week 10 - Create and manage a digital bookstore collection
*Â© 2021 Colin Conrad*

Welcome to Week 10 of INFO 6270! Last week marked an important milestone, in the sense that you completed the second course unit on core data science skills. Starting this week, we will have three labs on "other skills" that are valuable to data scientists but do not constitute the core practices. This week we will change gears into a topic that is important to most data-related careers: SQL. Many former students have stressed the importance of having basic knowledge of this topic in the workforce.

Many of you are likely to have covered SQL in other courses and this lab assumes that you have seen it before. If you have not explored SQL before, I strongly recommend that you spend a few hours working your way through this week's reading. The Khan Academy [Intro to SQL: Querying and managing data](https://www.khanacademy.org/computing/computer-programming/sql) is an excellent course and may be interesting to you even if you have covered it before. It is important to qualify that they use MySQL, which is ever-so slightly different from the tool that we will use this week: SQLite. The principles are the same regardless.

**This week, we will achieve the following objectives:**
- Create a SQL table with Python
- Conduct simple SQL queries
- Create relations between tables
- Conduct a more complex SQL query
- Create and query a relational table

# Case: Kobo Inc.
[Rakuten Kobo Inc.]( https://www.kobo.com/) is a Canadian company which sells e-books, audiobooks and e-readers and is a competitor to Amazon's bookselling business. Founded as a subsidiary of the Indigo Books and Music Inc., in 2010 Kobo was spun off as an independent company in order to form partnerships with other book retailors which whished to compete with Amazon. The company was later acquired by Japanese e-commerce giant Rakuten and today competes with Amazon for e-book dominance in Canada and Japan. 

Like many e-commerce companies, Rakuten Kobo keeps a database of products for download. Though it is unclear whether they use an SQL database specifically, it is likely that the company stores its inventories using a relational database framework. As an e-commerce company, they maintain an inventory of thousands of items, many of which are related to transactions which happen every day. In this lab we will explore hypothetical data structures which may be similar to the technology that Rakuten Kobo uses on the backend.

# Objective 1: Create an SQL table with Python
If you have [kept up with this week's readings](https://www.khanacademy.org/computing/computer-programming/sql), you likely already know that SQL stands for _Structured Query Language_ and is the standard method for communicating with a relational database. Databases are the backbone of virtually every information system used in businesses and organizations. Relational databases are the most common variety of database; it is not difficult to see why using and managing SQL is important. In fact, _**MI, MDI and MBA students who work for companies or governments consistently express to me that this skill is among the most important skills for securing gainful employment*_. If you have not done a module on SQL, I strongly recommend that you at least look through the Khan Academy materials!

It will probably be no surprise to you by now that you can also connect to an SQL database using Python. In this lab we use a simple SQL database called [SQLite](https://www.sqlite.org/index.html). Without going into the details of SQLite, just know that this is a fully functional SQL database that is optimized for small datasets. We will use Python' `sqlite3` library to create, query and retrieve data from an SQLite database. You can read the [documentation for this library here](https://docs.python.org/2/library/sqlite3.html).

As usual, we will start by importing the `sqlite3` library. This library will allow us to connect to an SQLite database.

In [1]:
import sqlite3 # import SQLite

It is important to remember that `sqlite3` is not the database itself but the means to connect to the database. To make `sqlite3` work we must first create a *connection* to a database. Though it does not yet exist, we will connect to `kobo.db` in your data folder. When `sqlite3` connects to a database which does not yet exist, it will automatically create a new database for you.

If you are interested, you can open the `/data` folder and see the database that was just created!

In [2]:
conn = sqlite3.connect('data/kobo.db') # this is your database connection. We will create a database in the data folder

Normally we would connect to an SQL database using a command line, which would allow us to execute SQL commands, similarly to the Khan Academy example. Similarly, SQLite must connect to the database and it does so using a series of `cursor()` methods. We can create a cursor object by declaring it as below. This will allow us to use python to execute SQL queries of our database.

In [3]:
c = conn.cursor() # this is the tool for interfacing between SQLite and Python

Good work! We are now connected to a database. Let's talk about that a bit before proceeding.

### A bit more about relational databases
Relational databases have been around a long time (in computer years) and were originally proposed by E. F. Codd (1970). What makes relational databases different from data tables (which we have explored so far) is that they actually consist of many tables which *relate* to one another in a variety of ways. For example: 
- The Government of Canada may maintain a table of citizens and a table of passports. Each passport belongs to exactly one citizen and each citizen may have a passport. This is an example of a one-to-one relationship.
- A library database could have table of patrons and a table of books. This is a one-to-many relationship. Each patron could borrow many books, though each book only lent to one patron at a given time.
- A university database may have table consisting of courses and a table consisting of students. This is a many-to-many relationship. Each course contains many students and each student takes many courses.

Each entity in a relational database is typically represented by a key. For now, we will only focus on the `primary key`, a unique indicator of each entry in a table. Primary keys are the way that you can navigate relationships between tables.

Let's start by creating a table. In SQL you can create a table using the CREATE TABLE command. We will create a table for e-readers called *readers* which will contain the following information:
- id (integer, primary key)
- date_added
- model (unique)
- description
- quantity
- price

### SQLite data types
The following command executes the order to create this table. Note that the command to create table column must also specify the data type. The following are some SQL data types for your reference with their python equivalent in brackets:
- integer (integer ... aka complete numbers)
- real (float ... aka decimal value)
- text (string)
- blob (binary number)
- null (an empty value)

In [4]:
# this is the SQL query to create the readers table
c.execute('''CREATE TABLE readers
             (id integer primary key, date_added text, model text unique, description text, quantity integer, price real)''')

Finally, after executing the table we must *commit* the change to the database and *close* our connection. The following code accomplishes this.

In [5]:
conn.commit() # commits the query to the database
conn.close # closes the connection to the database

The data will be saved for subsequent sessions.

## *Challenge Question 1 (2 points)*
Modify the code below to create a table for *books* which contains the information below. We will return to this later.
- id (integer, primary key)
- date_added (text)
- author (text)
- title (text)
- publisher (text)
- ISBN (text, unique)
- price (real)

In [6]:
# insert your code here

# Objective 2: Conduct simple SQL queries
Once we have some tables up and running we can start to add values to the tables. Similarly to other SQL databases, we do this by using the `INSERT INTO` command. Adding values to an SQLite database is a matter of using this command as well as the corresponding values.

The following command will `INSERT INTO` the database information about the [Kobo Forma](https://ca.kobobooks.com/products/kobo-forma?store=ca-en&utm_source=Kobo&utm_medium=TopNav&utm_campaign=Forma). Execute the cell below to add the command to the cursor.

In [7]:
conn = sqlite3.connect('data/kobo.db') # connect to the DB
c = conn.cursor() # create the cursor

c.execute("INSERT INTO readers VALUES (1, '2020-02-22', 'Forma', 'To make the reading experience better for ravenous booklovers who read for hours on end, and want a lightweight, portable alternative to heavy print books, weâve delivered our most comfortable eReader yet with waterproof reliability, the choice of landscape or portrait mode, and the expanded access of book borrowing. Storage size available in 8GB and 32GB.',10000, 299.99)")

The `INSERT INTO` command will add an entry to the table as long as the entry exactly matches the requirements of the table columns. However, the way that we inserted the value is not ideal. Typically it is not advisable to specify the primary key value for an entry. Primary keys are designed to auto increment.

Let's delete the value that we just created by using the `DELETE` command. This command will remove a value from a table depending on whether that value meets the specified condition. The simplest way to delete the value is to tell SQL to delete all values from readers where id = 1.

In [8]:
c.execute('''DELETE FROM readers WHERE id=1''')

To properly add a value to the readers table we would typically specify the values that we wish to add using the INSERT INTO command. By doing this there is less room for error.

In [9]:
c.execute('''INSERT INTO readers(date_added, model, description, quantity, price) 
          VALUES ('2020-02-22', 'Forma', 'To make the reading experience better for ravenous booklovers who read for hours on end, and want a lightweight, portable alternative to heavy print books, weâve delivered our most comfortable eReader yet with waterproof reliability, the choice of landscape or portrait mode, and the expanded access of book borrowing. Storage size available in 8GB and 32GB.',10000, 299.99)''')

So far so good, however manually specifying an INSERT INTO command can become burdensome. In SQL it is often important to enter many entries into the database. In SQLite and Python it is a matter of creating a list of queries. For example, we could add information about Kobo's other reading products by creating one such list.

In [10]:
readers_to_add = [
    ('2020-02-22', 'Libra H20', 'The perfect balance between innovative digital technology, a comfortable reading experience, and modern design is here. Offered in black or white, and with four colourful accessories to pair with, Kobo Libra H2O lets you choose the model that best suits you. Read longer than ever before with its comfortable ergonomic design, the option for landscape orientation, and easy-to-use page-turn buttons. With ComfortLight PRO and full waterproofing, Kobo Libra H2O lets you enjoy your books day or night, in any environment. Kobo Libra H2O is designed for a better reading life.',10000, 199.99),
    ('2020-02-22', 'Clara HD', 'Kobo Clara HD is the perfect reading companion for any booklover. It always provides the best light to read by with ComfortLight PRO, and a natural, print-like reading experience on its superior 6â HD screen. Easily customizable features help customers new to eReading to read the way they prefer. With 8 GB of on-board memory and the ability to carry up to 6,000 eBooks, Kobo Clara HD always has room for your next escape',10000, 139.99)
]

We then want to use the sqlite3 cursor's `executemany` method to execute multiple queries. The following code achieves this.

In [11]:
c.executemany('INSERT INTO readers(date_added, model, description, quantity, price) VALUES (?,?,?,?,?)', readers_to_add)
conn.commit() # commits the query to the database

## Selecting data
When working as a data scientist or analyst, perhaps the most important SQL skill to have is to query the database. In SQL, queries are typically executed using the `SELECT` command. The command `SELECT * FROM readers`, for instance will retrieve all of the entries from the `readers` table. Try executing the cell below.

In [12]:
c.execute("SELECT * FROM readers")
print(c.fetchone())

(1, '2020-02-22', 'Forma', 'To make the reading experience better for ravenous booklovers who read for hours on end, and want a lightweight, portable alternative to heavy print books, weâve delivered our most comfortable eReader yet with waterproof reliability, the choice of landscape or portrait mode, and the expanded access of book borrowing. Storage size available in 8GB and 32GB.', 10000, 299.99)

**Gotchya!** This code indeed retrieves all of the entries, but only prints one of them. This is because I used the `fetchone()` method to print only a single entry from the database. This is a surprisingly helpful function in most circumstances because you will not want to print all of the contents of a hundred-thousand entry database!

When the cursor retrieves query entries it saves them in a list behind the scene, similarly to the `csv` library previously explored. If we wanted to print multiple entries we would loop through them using a `for` loop, just like in previous weeks. Try executing the cell below to retrieve all of the readers entered so far.

In [13]:
for row in c.execute("SELECT * FROM readers"):
    print(row)

(1, '2020-02-22', 'Forma', 'To make the reading experience better for ravenous booklovers who read for hours on end, and want a lightweight, portable alternative to heavy print books, weâve delivered our most comfortable eReader yet with waterproof reliability, the choice of landscape or portrait mode, and the expanded access of book borrowing. Storage size available in 8GB and 32GB.', 10000, 299.99)
(2, '2020-02-22', 'Libra H20', 'The perfect balance between innovative digital technology, a comfortable reading experience, and modern design is here. Offered in black or white, and with four colourful accessories to pair with, Kobo Libra H2O lets you choose the model that best suits you. Read longer than ever before with its comfortable ergonomic design, the option for landscape orientation, and easy-to-use page-turn buttons. With ComfortLight PRO and full waterproofing, Kobo Libra H2O lets you enjoy your books day or night, in any environment. Kobo Libra H2O is designed for a better reading life.', 10000, 199.99)
(3, '2020-02-22', 'Clara HD', 'Kobo Clara HD is the perfect reading companion for any booklover. It always provides the best light to read by with ComfortLight PRO, and a natural, print-like reading experience on its superior 6â HD screen. Easily customizable features help customers new to eReading to read the way they prefer. With 8 GB of on-board memory and the ability to carry up to 6,000 eBooks, Kobo Clara HD always has room for your next escape', 10000, 139.99)

In addition to executing entire entries, SQL can be used to select only specific columns. To do this, you would replace the `*` with the fields that you desire to retrieve. The following code retrieves the `id` and `model` from the `readers` table.

In [14]:
for row in c.execute("SELECT id, model FROM readers"):
    print(row)

(3, 'Clara HD')
(1, 'Forma')
(2, 'Libra H20')

SQL does not order itself the same way as a CSV spreadsheet, so often you need to specify the order that you desire to retrieve the information in. You can use the ORDER BY command to achieve this.

In [15]:
for row in c.execute("SELECT id, model FROM readers ORDER BY id"):
    print(row)

(1, 'Forma')
(2, 'Libra H20')
(3, 'Clara HD')

## *Challenge Question 2 (1 point)*
Write a script that [inserts information about this book](https://www.kobo.com/ca/en/ebook/pride-and-prejudice-32) into your database. Consider today to be the `date_added`; you can retrieve the rest of the necessary data from the web page using the link provided.

In [16]:
# insert your code here

## *Challenge Question 3 (1 point)*
Print a line that retrieves the `author` and `title` of the book that you just entered. Refer back to the examples for more information on how to do this.

In [17]:
# insert your code here

('Jane Austen', 'Pride and Prejudice')

## *Challenge Question 4 (1 point)*
Using a list, add two more books to add to this table. They can be any books from the Kobo website.

In [18]:
# insert your code here

In [19]:
c.executemany('INSERT INTO books VALUES (?,?,?,?,?,?,?)', books_to_add)
conn.commit() # commits the query to the database

# Objective 3: Create relations between tables
As mentioned earlier, perhaps the most powerful feature of relational databases are the relationships that tables have to one another. So far, we have not specified relations between the `readers` and `books` tables. We do not need to because these two entities do not interact in meaningful way.

Users with Kobo accounts will contain information about the e-readers that they own. If we wanted to create a table for users, we would probably create a table that looks something like the following.

In [20]:
c.execute('''CREATE TABLE users(id integer primary key, date_joined text, email text)''')

However, this does not contain any information about other tables! What we need to relate to other tables is a `FOREIGN KEY`, a value from another table. Foreign keys are usually primary keys from another table that can be used to link two tables together. They need to be specified when creating a table that relates to another.

Let's drop that bad table before proceeding.

In [21]:
c.execute('''DROP TABLE users''')

To specify a foreign key in SQLite, you must first specify the value in your table and then declare it as a foreign key. The code below creates an integer called userreader, and then declares it to be a foreign key and `REFERENCES` it to the id column in the `readers` table.

In [22]:
c.execute('''CREATE TABLE users(
id integer primary key, 
date_joined text, 
email text, 
userreader integer, 
FOREIGN KEY(userreader) REFERENCES readers(id))''')

We can now enter an entry into the users table which identifies the users' primary e-reader. The following line creates an a user entry and connects that user to the e-reader with the ID 2 (aka Libra H20).

In [23]:
c.execute('''INSERT INTO users VALUES (1, '2020-02-22','colin.conrad@dal.ca', 2)''')

We can also query the user table to check our sanity. Let's do that before proceeding.

In [24]:
c.execute('''SELECT * FROM users''')
for row in c:
    print(row)

(1, '2020-02-22', 'colin.conrad@dal.ca', 2)

## *Challenge Question 5 (1 point)*:
Take a momemnt to generate some more data. Create three more users and add them to the database. At least one of the users should have the Clara HD reader assigned to them. We will return to this later.

In [25]:
# insert your code here

# Objective 4: Conduct a complex SQL query
Great! It's now time to move on to something slightly more complex. Let's start by adding a few more users. I am sure that these email addresses may be familiar to some of you!

In [26]:
users_to_add = [
    ('2010-01-26','harry@hogwarts.co.uk', 1),
    ('2010-01-26','hermione@hogwarts.co.uk', 3),
    ('2010-01-26','ron@hogwarts.co.uk', 2),
    ('2010-01-26','ginny@hogwarts.co.uk', 2),
    ('2010-01-26','severus@hogwarts.co.uk', 2),
    ('2010-01-26','dumbledore@hogwarts.co.uk', 2),
    ('2010-01-26','luna@hogwarts.co.uk', 3)
]

c.executemany('INSERT INTO users(date_joined, email, userreader ) VALUES (?,?,?)', users_to_add)

c.execute('''select * from users''')
for r in c:
    print(r)

(1, '2020-02-22', 'colin.conrad@dal.ca', 2)
(2, '2020-02-22', 'justin@trudeau.ca', 1)
(3, '2020-02-22', 'chrystia@freeland.ca', 3)
(4, '2010-01-26', 'harry@hogwarts.co.uk', 1)
(5, '2010-01-26', 'hermione@hogwarts.co.uk', 3)
(6, '2010-01-26', 'ron@hogwarts.co.uk', 2)
(7, '2010-01-26', 'ginny@hogwarts.co.uk', 2)
(8, '2010-01-26', 'severus@hogwarts.co.uk', 2)
(9, '2010-01-26', 'dumbledore@hogwarts.co.uk', 2)
(10, '2010-01-26', 'luna@hogwarts.co.uk', 3)

We are now ready to see relational tables in action. So far we have only executed queries from single table. Now that we have a table with a foreign key we can create a JOIN query. These types of queries draw data from multiple tables.

Let's create a query that shows us the `date_joined`, `email` and the name of the `model` that they own. The query below achieves this.

In [27]:
c.execute('''SELECT users.date_joined, users.email, readers.model
FROM users 
JOIN readers
ON users.userreader = readers.id''')

for r in c: # print the query results
    print(r)

('2020-02-22', 'colin.conrad@dal.ca', 'Libra H20')
('2020-02-22', 'justin@trudeau.ca', 'Forma')
('2020-02-22', 'chrystia@freeland.ca', 'Clara HD')
('2010-01-26', 'harry@hogwarts.co.uk', 'Forma')
('2010-01-26', 'hermione@hogwarts.co.uk', 'Clara HD')
('2010-01-26', 'ron@hogwarts.co.uk', 'Libra H20')
('2010-01-26', 'ginny@hogwarts.co.uk', 'Libra H20')
('2010-01-26', 'severus@hogwarts.co.uk', 'Libra H20')
('2010-01-26', 'dumbledore@hogwarts.co.uk', 'Libra H20')
('2010-01-26', 'luna@hogwarts.co.uk', 'Clara HD')

_Magic right?_ The beauty of relational databases is that you do not have to duplicate data because you are can retrieve the necessary data from other tables. This is extremely helpful when managing larger databases.

Let's unpack this query a bit. The query contained:
- `SELECT` which specified the data that you wished to retrieve and the table the data belongs to
- `FROM` specifies the main table (we could have chosen the `readers` table here as well in this case)
- `JOIN` specifies the table that you wish to match
- `ON` specifies the relation between the two tables, in this case they are linked by the `userreader` foreign key

Take a while to study this before proceeding. Consider trying different `JOIN` queries.

### Constraining your query with `WHERE`
There is one more thing that we should discuss before wrapping up this objective. Nearly every `SELECT` query can be limited by specifying a `WHERE` condition, which helps you limit the amount of data retrieved. For instance, we might wish to query only those users who own the Clara HD model of reader. To do this we would change the query to something like the following:

In [28]:
c.execute('''SELECT users.email, readers.model
FROM users 
JOIN readers
ON users.userreader = readers.id
WHERE readers.id=3''') # you could also specify readers.model="Clara HD" in this instance

for r in c:
    print(r)

('chrystia@freeland.ca', 'Clara HD')
('hermione@hogwarts.co.uk', 'Clara HD')
('luna@hogwarts.co.uk', 'Clara HD')

`SELECT` queries constrained by `JOIN` and `WHERE` are among the most common type of queries used by business analysts in industry. Using these queries, you can retrieve desired data and generate reports for analysis.

## *Challenge Question 6 (2 points)*:
Create a query which retrieves the following data:
- The users' email address
- The model that they purchased
- The price of the model that they purchased
- Only select users who have purchased the Libra H20 model

Be sure to print your results for easy grading!

In [29]:
# insert your code here

('colin.conrad@dal.ca', 'Libra H20', 199.99)
('ron@hogwarts.co.uk', 'Libra H20', 199.99)
('ginny@hogwarts.co.uk', 'Libra H20', 199.99)
('severus@hogwarts.co.uk', 'Libra H20', 199.99)
('dumbledore@hogwarts.co.uk', 'Libra H20', 199.99)

# Objective 5: Create and query a relational table
The final thing worth mentioning is that SQL databases do not always manage so-called "one-to-many" relationships, such as the relationship between users and e-readers. These types of relationships can be managed with a foreign key and they are much simpler.

Often however, you will be faced with a "many-to-many" relationship. In our Kobo example, we could envision a scenario where each owns many books, but each book is owned by many people. A foreign key alone will not help us here. To illustrate this issue, let's start by adding some more books. Execute the cell below.

In [30]:
books_to_add = [
    ('2020-02-22','J. K. Rowling','Harry Potter and the Philosophers Stone', 'Pottermore Publishing','9781781100219', 10.99),
    ('2020-02-22','J. K. Rowling','Harry Potter and the Chamber of Secrets', 'Pottermore Publishing','9781781100226', 10.99),
    ('2020-02-22','J. K. Rowling','Harry Potter and the Prisoner of Azkaban', 'Pottermore Publishing','9781781100233', 10.99),
    ('2020-02-22','J. K. Rowling','Harry Potter and the Goblet of Fire', 'Pottermore Publishing','9781781105672', 10.99),
    ('2020-02-22','J. K. Rowling','Harry Potter and the Order of the Phoenix', 'Pottermore Publishing','9781781100240', 10.99),
    ('2020-02-22','J. K. Rowling','Harry Potter and the Half-Blood Prince', 'Pottermore Publishing','9781781100257', 10.99),
    ('2020-02-22','J. K. Rowling','Harry Potter and the Deathly Hallows', 'Pottermore Publishing','9781781100264', 10.99)
]

c.executemany('INSERT INTO books(date_added, author, title, publisher, isbn, price ) VALUES (?,?,?,?,?,?)', books_to_add)

c.execute('''select * from books''')
for r in c:
    print(r)

(1, '2020-02-22', 'Jane Austen', 'Pride and Prejudice', 'HarperPrennial Classics', '9781443413855', 0.99)
(2, '2020-02-22', 'George Orwell', '1984', 'Joe Books Ltd', '9781772751086', 0.99)
(3, '2020-02-22', 'Aldus Huxley', 'Brave New World', 'Steppenwolf Press', '9788835320692', 0.99)
(4, '2020-02-22', 'J. K. Rowling', 'Harry Potter and the Philosophers Stone', 'Pottermore Publishing', '9781781100219', 10.99)
(5, '2020-02-22', 'J. K. Rowling', 'Harry Potter and the Chamber of Secrets', 'Pottermore Publishing', '9781781100226', 10.99)
(6, '2020-02-22', 'J. K. Rowling', 'Harry Potter and the Prisoner of Azkaban', 'Pottermore Publishing', '9781781100233', 10.99)
(7, '2020-02-22', 'J. K. Rowling', 'Harry Potter and the Goblet of Fire', 'Pottermore Publishing', '9781781105672', 10.99)
(8, '2020-02-22', 'J. K. Rowling', 'Harry Potter and the Order of the Phoenix', 'Pottermore Publishing', '9781781100240', 10.99)
(9, '2020-02-22', 'J. K. Rowling', 'Harry Potter and the Half-Blood Prince', 'Pottermore Publishing', '9781781100257', 10.99)
(10, '2020-02-22', 'J. K. Rowling', 'Harry Potter and the Deathly Hallows', 'Pottermore Publishing', '9781781100264', 10.99)

Many-to-many relationships cannot be expressed with two tables. When faced with these sort of situations, you must create an intemediary table that contains records of the relationships between the entities. Let's create a new table called `userbooks`. This table can consist of a series of `user.id` and `book.id` pairings held as foreign keys. We can keep this one simple because its entire purpose is to hold those relationships.

In [31]:
# creates the intermediary table

c.execute('''CREATE TABLE userbooks(
userid integer,
bookid integer,
FOREIGN KEY(userid) REFERENCES users(id),
FOREIGN KEY(bookid) REFERENCES books(id))''')

Just like any other table, we can `INSERT INTO` the userbooks table values which correspond to the users' books. The following code should assign a relationship between user 1 (likely `colin.conrad@dal.ca`) and book 4, likely to be Harry Potter, if implemented correctly.

In [32]:
c.execute('''INSERT INTO userbooks VALUES (1, 4)''') # Colin owns Harry Potter and the Philosophers Stone

Similarly you can express the books which you would like to add using a list.

In [33]:
userbooks_to_add = [
    ('1', '5'), # Colin owns Harry Potter and the Chamber of Secrets
    ('2', '4'), # Justin Trudeau owns Harry Potter and the Philosophers Stone
    ('2', '5'), # ... etc
    ('2', '6'),
    ('2', '7'),
    ('2', '8'),
    ('3', '4'),
    ('3', '5')
]

c.executemany('INSERT INTO userbooks(userid, bookid ) VALUES (?,?)', userbooks_to_add)

c.execute('''select * from userbooks''')
for r in c:
    print(r)

(1, 4)
(1, 5)
(2, 4)
(2, 5)
(2, 6)
(2, 7)
(2, 8)
(3, 4)
(3, 5)

Finally, we can retrieve records from a many-to-many relationship by `SELECTING` from the intermediary table and `JOIN`ing on the other two tables. The code below should retrieve records for `colin.conrad@dal.ca`.

In [34]:
c.execute('''SELECT users.email, books.title
FROM userbooks 
JOIN users
ON users.id = userbooks.userid
JOIN books
ON books.id = userbooks.bookid
WHERE users.id=1''') # you could also specify readers.model="Clara HD" in this instance

for r in c:
    print(r)

('colin.conrad@dal.ca', 'Harry Potter and the Philosophers Stone')
('colin.conrad@dal.ca', 'Harry Potter and the Chamber of Secrets')

## *Challenge Question 7 (2 points)*
Let's try another complex query. Select the `user.email` and `books.title` for all users who own the Forma reader. Execute the cell below before conducting this query. **Hint:** the Forma reader's ID is 1.

### Execute this cell

In [35]:
userbooks_to_add = [
    ('4', '1'),
    ('4', '2'),
    ('4', '3')
]

c.executemany('INSERT INTO userbooks(userid, bookid ) VALUES (?,?)', userbooks_to_add)

### Enter your code here

In [36]:
# insert your code here

('justin@trudeau.ca', 'Harry Potter and the Philosophers Stone')
('justin@trudeau.ca', 'Harry Potter and the Chamber of Secrets')
('justin@trudeau.ca', 'Harry Potter and the Prisoner of Azkaban')
('justin@trudeau.ca', 'Harry Potter and the Goblet of Fire')
('justin@trudeau.ca', 'Harry Potter and the Order of the Phoenix')
('harry@hogwarts.co.uk', 'Pride and Prejudice')
('harry@hogwarts.co.uk', '1984')
('harry@hogwarts.co.uk', 'Brave New World')

## Other Stuff - Connecting to MySQL (not just SQLite)
Finally, a final note on connecting to MySQL databases or other related tools. You can use Python to connect to MySQL environments easily using similar skills to what you have explored here. Python provides a [MySQL connector](https://www.w3schools.com/python/python_mysql_getstarted.asp) to establish a connection to a remote MySQL server. For example, the call below could be used to connect to establish a connection to a remove SQL server. 

I will provide a video demonstration of a connection to one of our research servers. You could similarly use this code to connect to your own MySQL server if you have one.

In [5]:
# connect to a MySQL db by entering a host name. Be sure to install the MySQL connector before attempting it
import mysql.connector

# establish the connection
mydb = mysql.connector.connect(
    host="qsslab.mysql.database.azure.com",
    user="conradc@qsslab.mysql.database.azure.com",
    password="Zt9!L#lG2fsM",
    database="userdb_conradc"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x05EABFF0>

With the remote connection established, you could then execute commands as you normally would. The code below was used to select all of the `tweets` from Colin's `tweets` table.

In [6]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM tweets")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

(1, 1, 'Glad @DalhousieNlp is finally on Twitter! After... how many years of Twitter research?', 0, 0)
(2, 1, 'A bit late to the party, but it turns out MTurk is great. That is all.', 0, 0)
(3, 1, 'We are headed out on the 15th. Looking forward!', 3, 0)
(4, 2, "The $450 question: Should journals pay peer reviewers? https://bit.ly/2MPdKjy. No, we shouldn't. But neither should we pay corporations and their shareholders to publish or access our work.", 6, 1)
(5, 3, 'Exploring legal mechanisms for data stewardship... three legal mechanisms that could help facilitate responsible data stewardship', 3, 3)

## References

Codd, E. F. (1970). A Relational Model of Data for Large Shared Data Banks. *Communications of the ACM. 13*(6), 377â387. doi:10.1145/362384.362685.

W3SChools (2021). Python MySQL. Retrieved from: https://www.w3schools.com/python/python_mysql_getstarted.asp

Khan Academy (2019). Intro to SQL: Querying and managing data. Retrieved from: https://www.khanacademy.org/computing/computer-programming/sql